body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #e4e7ea;
    font-family: Georgia, serif;
    line-height: 1.8;
  }
  
  .about-container {
    max-width: 800px;
    margin: 80px auto 100px;
    padding: 0 20px;
    text-align: center;
    padding-bottom: 100px;
  }
  
  .quote {
    color: #fc8139;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 40px;
  }
  
  .name {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 40px;
  }
  
  .bio p {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }
  
  .quote-explanation {
    font-style: italic;
    color: #aeaeae;
    margin-top: 40px;
    font-size: 1.05rem;
    text-align: left;
  }
  /* Footer styles */
.bottom-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background: transparent;
  font-size: 1.2rem;
  padding: 40px 0 10px;
  margin-top: 100px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;
  text-decoration: underline;
}

/* Tablet screens (width between 481px to 768px) */
@media (max-width: 768px) {
  .bottom-nav {
    gap: 20px;
    font-size: 1rem;
  }
}

/* Mobile screens (width 480px and below) */
@media (max-width: 480px) {
  .bottom-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }
}